[Desktop Entry]
Name=SuperNM-GUI
Comment=Custom Network Manager GUI with Wi-Fi, Bluetooth, Sound, and Brightness
Exec=python3 /home/$(whoami)/SuperNM-GUI/SuperNM-GUI.desktop
Icon=network-wireless
Terminal=false
Type=Application
Categories=Network;Utility;
StartupNotify=true
